REMNA_BASE_URL=https://your-panel-domain/api
REMNA_TOKEN=your_bearer_token

ROUTING_NAME=Glowshine
FAKE_DNS=true

# Дополнительные правила (через запятую):
# EXTRA_PROXY=domain:gemini.google.com,domain:generativelanguage.googleapis.com,domain:aistudio.google.com
# EXTRA_DIRECT=domain:mysite.ru
# EXTRA_BLOCK=domain:ads.example.com

# GITHUB_RAW_URL=https://raw.githubusercontent.com/hydraponique/roscomvpn-routing/refs/heads/main/HAPP/DEFAULT.JSON
# CHECK_INTERVAL=43200
